# Ignore environment and secret files
.env
.env.enc

# Ignore compiled binaries
light-node
risc0-merkle-service

# Ignore logs
*.log

# Ignore temporary and editor files
*.swp
*.swo
*.tmp
*.bak
.DS_Store
.idea/
.vscode/

# Ignore dependencies
/target/        # Rust build output
/node_modules/  # JavaScript dependencies
/vendor/        # Go dependency directory

# Ignore Go build artifacts
*.o
*.a
*.out
go.work
